<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="user" class="domain.User">
        <!--
            ref：引用数据类型
            value：普通数据类型
        -->
        <property name="age" value="19"></property>
        <property name="username" value="李四"></property>
    </bean>
</beans>